<nav class="flex align-center font-ui">
    <span class="flex-grow">
        <a class="internal-link plain" href="/">Ale Blanco</a>
        {% if page.layout == "note" %}
        {% assign folder = page.url | split: '/' | slice: 1 %}
        {% if folder %}
          <span class="faint">/ {{ folder | capitalize }}</span>
        {% endif %}
      {% endif %}
    </span>
    
    <span class="flex-shrink ssr">
      <a href="{{ site.baseurl }}/about" class="muted plain">About</a>
      <a href="{{ site.baseurl }}/now" class="muted plain ssl mh">Now</a>
    </span>
  
    <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch">
      <div class="theme-toggle-slide"></div>
      <div class="theme-toggle-switch"></div>
    </span>
</nav>