<nav class="flex align-center font-ui">
    <span class="flex-grow">
        <a class="internal-link plain" href="{{ site.baseurl }}/">Ale Blanco</a>
    
        {% assign path_parts = page.path | split: '/' %}
        {% assign filename = path_parts | last %}
        
        {% if page.layout == "note" and path_parts.size > 1 %}
          {% assign folder_name = path_parts[1] %}
          {% unless folder_name == "" or filename contains "index" %}
            <span class="faint">/</span>
            <a class="muted plain" href="{{ site.baseurl }}/{{ folder_name }}/">
              {{ folder_name | replace: "-", " " | capitalize }}
            </a>
          {% endunless %}
        {% endif %}
      </span>
    
    <span class="flex-shrink ssr">
      <a href="{{ site.baseurl }}/about" class="muted plain">About</a>
      <a href="{{ site.baseurl }}/now" class="muted plain ssl mh">Now</a>
    </span>
  
    <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch">
      <div class="theme-toggle-slide"></div>
      <div class="theme-toggle-switch"></div>
    </span>
</nav>