<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <div class="switch">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
      </div>
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>
    {% include link-previews.html wrapperQuerySelector="content" %}
    <script src="/assets/js/darkmode-toggle.js"></script>
  </body>
</html>
